{% extends 'base.html' %}

{% block content %}

<form class='form' method="POST" action="#">
    {{ form.hidden_tag()}}
    {{ form.name.label(class="form-label")}}{{form.name(size=20,class='form-control')}}
    <br>
    {{ form.street.label(class="form-label")}}{{form.street(class='form-control')}}
    <br>
    {{ form.city.label(class="form-label")}}{{form.city(class='form-control')}}
    <br>
    {{ form.zipcode.label(class="form-label")}} {{form.zipcode(class='form-control')}}
    <br>
    {{form.submit(class="btn btn-success")}}
</form>
{% endblock %}