{% extends 'base.html' %}
{% block custom_style %}
{% endblock %}
{% block content %}
	<div class="container poke_details">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<img src="{{Pokemon.image_front}}">
					</div>
					<div class="details col-md-6">
                        <header class = 'Pokemon_header'>
                          <h1>About {{Pokemon.name.capitalize()}}!</h1>
                          <p><strong>Type:</strong> {{Pokemon.type.capitalize()}}</p>
                          <p><strong>Health:</strong> {{Pokemon.health}}</p>
                          <p><strong>Attack:</strong> {{Pokemon.attack}}</p>
                          {% set i = namespace(value=1) %}
                          {% for move in Pokemon.moves %}
                          <p><strong>Move {{i.value}}#:</strong> {{move.name}}</p>
                          {% set i.value = i.value + 1 %}
                          {% endfor %}
                      </header>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %} 