{% extends 'base.html' %}
{% block custom_style %}
{% endblock %}
{% block content %}
	<div class="container poke_details">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						<img src="{{Pokemon.image_front}}">
					</div>
					<div class="details col-md-6">
                        <header class = 'Pokemon_header'>
                          <h1>About {{Pokemon.name.capitalize()}}!</h1>
                          <p><strong>Type:</strong> {{Pokemon.type.capitalize()}}</p>
                          <p><strong>Health:</strong> {{Pokemon.health}}</p>
                          <p><strong>Attack:</strong> {{Pokemon.attack}}</p>
						  <p> <strong>Moves:</strong></p>

                          {% set i = namespace(value=1) %}
							 <div class="container move_container">
							  <div class="row">
                          {% for move in Pokemon.moves %}
								<div class="col-md-4 move_card">
								  <div class="card mb-4 box-shadow">
									<div class="card-body">
									  <p class="card-text">{{move.name}}.</p>
									  <div class="d-flex ">
										  <p class="stat"><strong>Power: </strong>{{move.power}}</p>
										  <p class="stat"><strong>Accuracy: </strong>{{move.acc}}</p>
										  <p class="stat"><strong>Effect type:</strong> {{move.effect_type}}</p>
										  <p class="stat"><strong>Effect Power: </strong>{{move.effect_power}}</p>
									  </div>
									</div>
								  </div>
								</div>
						  {% set i.value = i.value + 1 %}
						  {% endfor %}
							  </div>
								 {% if user is not none and Pokemon not in user.team%}
					 	<a class=" btn btn-success" href="{{url_for('add_to_team',pokemon_id = Pokemon.id)}}">add to your team!</a>
								 {% endif %}
					</header>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %} 