{% extends 'base.html' %}

{% block logged_in %}
{% if user_name != '' %}
logged in as: {{user_name}}
{% endif %}
{% endblock %}

{% block content %}
<header>
<h1 class="player_name">{{user.name.capitalize()}}'s Team!</h1>
  <div class="dropdown drop_container">
    <a class="btn start_button dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Start Game
     </a>
    <ul class="dropdown-menu">
      {% for user_against in users %}
      {% if user_against.name != user.name %}
      <li><a class="dropdown-item" href="{{url_for('start_game',user_against_id = user_against.id)}}">{{user_against.name}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</header>


<div class="container mx-auto mt-4">
  <div class="row">
    {% for poke in user.team%}
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{{poke.image_front}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title {{poke.type}} ms-5">{{poke.name.capitalize()}}, {{poke.type.capitalize()}}</h5>
          <a href="{{url_for('get_poke',poke_id_or_name = poke.id)}}" class="btn ms-5"><i class="fas fa-link"></i> More Details!</a>
          <a href="{{url_for('remove_from_team',pokemon_id = poke.id)}}" class="btn btn-danger remove_button ms-5"><i class="fas fa-link"></i> remove from team!</a>
        </div>
      </div>
    </div>
    {% endfor%}
  </div>
</div>

{% endblock %}
